/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
    CSS RESET for browsers*/

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    * {
        box-sizing: border-box;
        margin: 0rem;
        padding: 0rem;
    }
    
    body {
        font-family: "Glacial", Arial, Sans-Serif;
        background: #fff;
        color: black;
    }
    
    /* Navigation Bar */
    a:link, a:visited {
        color: black;
        padding: 1rem;
        text-decoration: none;
       }
      
      a:hover, a:active {
        color: #0F61FF;
      }
    
      .navigation ul {
        display: flex;
        justify-content: center;
        text-align: center;
        list-style-type: none;
        margin: 0rem;
        padding: 1.875rem;
        font-family: "Glacial", Arial, Sans-Serif;
        letter-spacing: 0.063rem;
        font-size: 3vh;
    }
    
    @media only screen and (max-width: 600px) {
        .nav-item a {
            display: block;
            padding: 0.063rem;
            font-size: 2vh;
        }

        .navigation ul {
          position: static;
          display: block;
          flex-direction: column;
          justify-content: center;
          list-style-type: none;
          font-family: "Glacial", Arial, Sans-Serif;
          letter-spacing: 0.063rem;
          width: 100%;
          line-height: 2rem;
        }
      }

    p { 
        margin: 0.5rem 0rem;
    }
    
    /* Fonts */
    @font-face {
      font-family: "Glacial";
      src: url(./Fonts/GlacialIndifference-Regular.woff);
      }

          @font-face {
            font-family: "Gothic";
            src: url(./Fonts/cgothic.woff);
            }

      @font-face {
        font-family: "IGlacial";
        src: url(./Fonts/GlacialIndifference-Italic.woff);
        }

    h1 {
        text-align: center;
        margin: 3rem 3rem 3.5rem 3rem;
        font-family: "Gothic", Georgia, Serif;
        font-size: 6vh;
    }

    @media only screen and (max-width: 600px) {
        h1 {
          font-size: 4vh;
          margin: 3rem;
      }
      }

    .resume-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        margin: 1rem 10rem 1rem;
    }

    @media only screen and (max-width: 600px) {
        .resume-container {
          margin: 1rem 2rem;
        }
      }    
    
    .resume-container h2, h3, h4, h5 {
        font-family: "Gothic", Arial, Sans-Serif;
        color: #0F61FF;
        line-height: 0rem;
        letter-spacing: 0.063rem;
        margin: 1rem 0rem 0rem 0rem;
        font-size: 2.5vh;
        font-weight: 900;
    }

    @media only screen and (max-width: 600px) {
        .resume-container h2, h3, h4, h5{
          font-size: 1.5vh;
      }
      }

    .resume-container p {
        font-family: "Glacial", Arial, Sans-Serif;
        color: black;
        line-height: 1.65rem;
        letter-spacing: 0.063rem;
        margin: 0.063rem 0;
        font-size: 2.2vh;
    }

    @media only screen and (max-width: 600px) {
        .resume-container p {
          font-size: 1.5vh;
          line-height: 1rem;
      }
      }

    .resume-list ul {
      list-style-type: disc;
      margin: 0rem;
      padding: 0rem;
      text-align: left;
      font-family: "Glacial", Arial, Sans-Serif;
      letter-spacing: 0.063rem;
  }
  
  .resume-list li {
      margin: 0rem 0rem 0rem 2rem;
      line-height: 1.65rem;
      font-size: 2.2vh;
  }

  @media only screen and (max-width: 600px) {
    .resume-list li {
      font-size: 1.5vh;
      line-height: 1rem;
      margin: 0rem 0rem 0rem 1rem;
  }
  }
    
.download {
  font-family: "Gothic", Arial, Sans-Serif;
    text-align: center;
    padding-bottom: 2rem;
}

footer {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 1rem 0rem 1rem 0rem;
}

.footer h6 {
  font-size: 2.5vh;
  font-family: "Glacial", Arial, Sans-Serif;
  color: #000;
  line-height: 1.5;
}

#lab_social_icon_footer a {
  font-size: 4vh;
  color: #000;
  display: inline-block;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

#lab_social_icon_footer .social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#lab_social_icon_footer .social {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

#lab_social_icon_footer .social:hover {
  color: #6f9ef7;
}

@media only screen and (max-width: 600px) {
.footer h6 {
  font-size: 1.5vh;
  font-family: "Glacial", Arial, Sans-Serif;
  color: #000;
  line-height: 1.5;
}
}

@media only screen and (max-width: 600px) {
#lab_social_icon_footer a {
  font-size: 2vh;
}
}