/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
    CSS RESET for browsers*/

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
      display: block;
    }
    body {
      line-height: 1;
    }
    ol, ul {
      list-style: none;
    }
    blockquote, q {
      quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }
    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
    
    * {
        box-sizing: border-box;
        margin: 0rem;
        padding: 0rem;
    }
    
    body {
        font-family: "Glacial"; 
        background: #fff;
        color: black;
    }
    
        /* Navigation Bar */
        a:link, a:visited {
          color: black;
          padding: 1rem;
          text-decoration: none;
        }
        
        a:hover, a:active {
          color: #005f29;
        }
      
        ul {
          display: flex;
          justify-content: center;
          text-align: center;
          list-style-type: none;
          margin: 0rem;
          padding: 1.875rem;
          font-family: "Glacial";
          letter-spacing: 0.063rem;
          font-size: 3vh
      }
      
      @media only screen and (max-width: 600px) {
        .navigation a {
          display: block;
          padding: 0.063rem;
          font-size: 2vh;
      }
      
        ul {
          position: static;
          display: flex;
          flex-direction: column;
          justify-content: center;
          list-style-type: none;
          font-family: "Glacial";
          letter-spacing: 0.063rem;
          width: 100%;
          line-height: 2rem;
        }
      }
      
      p { 
          margin: 0.5rem 0rem;
      }

    /* Fonts */
    @font-face {
      font-family: "Glacial";
      src: url(./Fonts/GlacialIndifference-Regular.woff);
      }

      @font-face {
        font-family: "League";
        src: url(./Fonts/leaguespartan-bold.woff);
        }
    
    /* Splashpage */
    .showcase-container {
        position: relative;
        width: 100%;
        height: 85vh;
        background: url('whitelogo2.png') no-repeat center center/cover; 
        background-size: contain;
        margin-bottom: 8.5rem;
      }
    
      @media only screen and (max-width: 600px) {
        .showcase-container {
          position: relative;
          width: 100%;
          height: 50vh;
          background: url('whitelogo2.png') no-repeat center center/cover; 
          background-size: contain;
          margin-bottom: 8.5rem;
        }
      }
  
      .showcase-text {
        position: absolute;
        text-align: center;
        top: 88%;
        width: 100%;
      }

      .showcase-text h1 {
        font-family: "Glacial";
        display: inline-block;
        color: #000;
        font-size: 8vh;
        margin: 0rem 1.5rem;
      }
    
      @media only screen and (max-width: 600px) {
        .showcase-text h1 {
          font-size: 4.5vh;
      }
    }
    
      .tagline-container {
          background: #061907;
          padding: 7rem 0rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
      }
    
      .tagline-container h2 {
          font-family: "Glacial";
          color: white; 
          text-align: center;
          line-height: 1.25;
          letter-spacing: 0.188rem;
          font-size: 5vh;
      }
    
      @media only screen and (max-width: 600px) {
        .tagline-container h2 {
          font-size: 2.5vh;
      }
      }
    
      .contact-container {
        background: #fff;
          padding-top: 4rem;
          padding-bottom: 4rem;
          border-bottom: 0.188rem;
          display: flex;
          flex-direction: column;
          position: relative;
      }
      
      .form-container {
        max-width: 43.75rem;
        width: 100%;
        margin: auto;
      }
      
      @media only screen and (max-width: 600px) {
        .form-container {
          max-width: 25rem;
          width: 100%;
          margin: auto;
        }
      }

      .contact-container h3 {
        font-family: "League";
        color: #000; 
        line-height: 1.25;
        font-size: 7vh;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        position: absolute;
        padding: 10rem 0rem;
    }
  
    @media only screen and (max-width: 780px) {
      .contact-container h3 {
        font-size: 3vh;
    }
    }
    
      #contact input[type="text"],
      #contact input[type="email"],
      #contact input[type="tel"],
      #contact textarea,
      #contact button[type="submit"] {
        font-family: "Glacial";
        font-size: 2.4vh;
        color: #000;; 
        width: 100%;
        border: 0.063rem #000;
        background:#fefefe;
        margin: 0 0 1.5rem;
        padding: 1rem;
        box-shadow: 0rem 0.125rem 0.625rem 0.063rem rgba(0,0,0,0.1);
      }
    
      @media only screen and (max-width: 600px) {
      #contact input[type="text"],
      #contact input[type="email"],
      #contact input[type="tel"],
      #contact textarea,
      #contact button[type="submit"] {
        font-size: 1.5vh;
        }
      }
      
      #contact {
        padding: 1rem 1.5rem;
        margin: 0rem;
      }
      
      fieldset {
        max-width: 90%;
        margin: auto;
      }
    
      #contact textarea {
          padding-bottom: 6rem;
          background:#fefefe;
      }
      
      #contact button[type="submit"] {
        font-family: "Glacial";
        width: 100%;
        border: none;
        background:#fefefe;
        color: #000;
        margin: 0 0 1rem;
        padding: 0.5rem;
        font-size: 2.4vh;
      }
    
      @media only screen and (max-width: 600px) {
        #contact button[type="submit"] {
          font-size: 1.5vh;
          }
        }
      
      #contact button[type="submit"]:active {
        box-shadow: inset 0 0.063rem 0.188rem rgba(0, 0, 0, 0.2);
      }
      
      #contact input:focus,
      #contact textarea:focus {
        outline: 0;
        border: 0.02rem solid #fff;
      }
      
      ::-webkit-input-placeholder {
        color: #000;
      }
      
      :-moz-placeholder {
        color: #000;
      }
      
      ::-moz-placeholder {
        color: #000;
      }
      
      :-ms-input-placeholder {
        color: #000;
      }

      footer {
        width: 100%;
        background-color: #000;
        text-align: center;
        padding: 1rem 0rem 1rem 0rem;
      }
    
      .footer h5 {
        font-size: 2.5vh;
        font-family: "Glacial";
        color: #fff;
        line-height: 1.5;
      }
    
      #lab_social_icon_footer a {
        font-size: 4vh;
        color: #fff;
        display: inline-block;
        justify-content: center;
        padding-right: 1rem;
        padding-left: 1rem;
      }
      
      #lab_social_icon_footer .social:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
      }
      
      #lab_social_icon_footer .social {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
      }
    
      #lab_social_icon_footer .social:hover {
        color: #fff;
      }
    
      @media only screen and (max-width: 600px) {
      .footer h5 {
        font-size: 1.5vh;
        font-family: "Glacial";
        color: #fff;
        line-height: 1.5;
      }
      }
    
      @media only screen and (max-width: 600px) {
      #lab_social_icon_footer a {
        font-size: 2vh;
      }
    }