/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
    CSS RESET for browsers*/

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    * {
        box-sizing: border-box;
        margin: 0rem;
        padding: 0rem;
    }
    
    body {
        font-family: "Avenir", "Arial";
        background: #fff;
        color: black;
    }
    
    /* Navigation Bar */
    a:link, a:visited {
        color: black;
        padding: 1.875rem 3.125rem;
        text-decoration: none;
       }
      
      a:hover, a:active {
        color: #005f29;
      }
    
      .navigation ul {
        display: flex;
        justify-content: center;
        text-align: center;
        list-style-type: none;
        margin: 0rem;
        padding: 1.875rem 3.125rem;
        font-family: "navi";
        font-size: 2.5rem;
        letter-spacing: 0.063rem;
    }
    
    @media only screen and (max-width: 600px) {
        .nav-item a {
            display: block;
            padding: 0.063rem;
        }

        .navigation ul {
          position: static;
          display: block;
          flex-direction: column;
          justify-content: center;
          list-style-type: none;
          font-family: "navi";
          letter-spacing: 0.063rem;
          width: 100%;
          line-height: 2rem;
        }
      }

    p { 
        margin: 0.5rem 0rem;
    }
    
    /* Fonts */
    @font-face {
        font-family: "boosie";
        src: url(./Fonts/moniquescript-regular-webfont.woff);
    }
    
    @font-face {
        font-family: "navi";
        src: url(./Fonts/northrow-webfont.woff);
    }

    @font-face {
        font-family: "Avenir Light" "Avenir";
        src: url(./Fonts/avenir.woff);
    }

    h1 {
        text-align: center;
        margin: 3rem;
        font-family: "navi";
        text-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.60)
    }

    .resume-container {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: left;
        margin: 0rem 7rem 2rem 7rem;
        padding: 2rem;
    }

    @media only screen and (max-width: 600px) {
        .resume-container {
            margin: 2rem;
        }
      }    
    
    .resume-container h2, h3, h4, h5 {
        font-family: "Avenir", "Arial";
        font-weight: 600;
        font-size: 3rem;
        color: black;
        line-height: 0rem;
        letter-spacing: 0.063rem;
        text-transform: uppercase;
        margin: 1rem 0rem 0rem 0rem;
    }

    .resume-container p {
        font-family: "Avenir", "Arial";
        font-size: 3rem;
        color: black;
        line-height: 1.8rem;
        letter-spacing: 0.063rem;
        margin: 0.063rem 0;
    }

    .resume-list ul {
      list-style-type: disc;
      margin: 0rem;
      padding: 0rem;
      text-align: left;
      font-family: "Avenir", "Arial";
      font-size: 2.5rem;
      letter-spacing: 0.063rem;
  }
  
  .resume-list li {
      margin: 0rem 0rem 0rem 3rem;
      line-height: 1.8rem;
  }
    
.download {
    text-align: center;
    font-weight: 600;
}

    .footer {
        text-align: center;
        letter-spacing: 0.03rem;
        font-size: 1.1rem;
        padding-top: 4rem;
      }
    