/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
    CSS RESET for browsers*/

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    * {
        box-sizing: border-box;
        margin: 0rem;
        padding: 0rem;
    }
    
    body {
        font-family: "Avenir Light";
        -webkit-font-smoothing: antialiasded;
        background: #f5f0ea;
        color: black;
    }

    /* Navigation Bar */
    .navigation a:link, a:visited {
        color: black;
        padding: 1.875rem 3.125rem;
        text-decoration: none;
      }
  
    .navigation a:hover, a:active {
        color: rgb(230,5,140);
    }

  .navigation ul {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    margin: 0rem;
    padding: 1.875rem 3.125rem;
    font-family: "navi";
    font-size: 2.5rem;
    letter-spacing: 0.063rem;
}

@media only screen and (max-width: 600px) {
    .navigation ul {
      position: static;
      display: block;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      font-family: "navi";
      letter-spacing: 0.063rem;
      width: 100%;
      line-height: 2rem;
    }
  }

p { 
    margin: 0.5rem 0rem;
}

/* Fonts */
@font-face {
    font-family: "boosie";
    src: url(./Fonts/moniquescript-regular-webfont.woff);
}

@font-face {
    font-family: "navi";
    src: url(./Fonts/northrow-webfont.woff);
}

h1 {
    text-align: center;
    margin: 3rem;
    font-family: "navi";
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.40)
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding: 0.063rem 2rem 5rem 2rem;
}

@media only screen and (max-width: 600px) {
    .portfolio-container {
        margin: 0;
    }
  }

.portfolio-container h2, h3, h4, h5 {
    font-family: "Avenir";
    font-weight: 600;
    font-size: 3rem;
    color: black;
    line-height: 1.25rem;
    letter-spacing: 0.063rem;
    margin: 1rem 0rem 0rem 4rem;
}

@media only screen and (max-width: 600px) {
    .portfolio-container h2, h3, h4, h5 {
        text-align: left;
        margin: 0;
    }
  }

.portfolio-list a:link, a:visited {
    color: black;
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
  
.portfolio-list a:hover, a:active {
    color: rgb(230,5,140);
    }

.portfolio-list ul {
    list-style-type: none;
    text-align: left;
    font-family: "Avenir Light";
    font-size: 2.5rem;
    letter-spacing: 0.063rem;
    margin: 1rem 0rem 0rem 4rem;
}

@media only screen and (max-width: 600px) {
    .portfolio-list ul {
        text-align: left;
        margin: 0;
    }
  }
  
.portfolio-list li {
    line-height: 2rem;
}

.footer {
    text-align: center;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
  }
