/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
    CSS RESET for browsers*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
}

body {
    font-family: "Avenir Light";
    -webkit-font-smoothing: antialiasded;
    background: #f5f0ea;
    color: black;
}

/* Navigation Bar */
a:link, a:visited {
    color: black;
    padding: 1.875rem 3.125rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    color: rgb(230,5,140);
  }

  ul {
    list-style-type: none;
    margin: 0rem;
    padding: 0rem;
    text-align: center;
    font-family: "navi";
    font-size: 2.5rem;
    letter-spacing: 0.063rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    display: inline;
}

p { 
    margin: 0.5rem 0rem;
}

/* Fonts */
@font-face {
    font-family: "boosie";
    src: url(./Fonts/moniquescript-regular-webfont.woff);
}

@font-face {
    font-family: "navi";
    src: url(./Fonts/northrow-webfont.woff);
}

/* Splashpage */
.showcase-container {
    position: relative;
    width: 100%;
    height: 85vh;
    background: url('khlogo.png') no-repeat center center/cover; 
    background-size: contain;
    margin-bottom: 8.5rem;
  }

  .showcase-text {
      position: absolute;
      display: flex;
      flex-direction: column;
      text-align: center;
      top: 68%;
      left: 41%;
  }

  .showcase-text h1 {
      font-family: "Avenir Light";
      color: rgb(168,143,106);
      font-size: 4.688rem;
      line-height: 1.25;
      margin: 0 0 2rem;
      text-shadow: 0.188rem 0.188rem 0.25rem rgba(0,0,0,0.65);
      letter-spacing: 0.188rem;
  }

  .showcase-text h2 {
    font-family: "boosie";
    color:black;
    font-size: 3.125rem;
    line-height: 1.25;
    margin: 0 0 2rem;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.65);
  }

  .tagline-container {
      background: #9D7F52;
      padding-top: 6rem;
      padding-bottom: 6rem;
      border-bottom: 0.188rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
  }

  .tagline-container h3 {
      font-family: "Avenir Light";
      font-size: 3.75rem;
      color: white; 
      text-align: center;
      line-height: 1.25;
      letter-spacing: 0.188rem;
      text-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.65);
  }

  .contact-container {
      background: #f5f0ea;
      padding-top: 6rem;
      padding-bottom: 6rem;
      border-bottom: 0.188rem;
      display: flex;
      flex-direction: column;
      text-align: center;
  }

  .contact-container h4 {
      font-family: "navi";
      color: #9D7F52; 
      font-size: 5rem;
      text-shadow: 0.125rem 0.125rem 0.25rem rgba(0,0,0,0.65);
      line-height: 1.25;
      margin: 0 0 2rem;
  }

  .contact-container p {
      font-family: "Avenir Light";
      font-size: 2rem;
      line-height: 1.50;
      margin: 0 0 2.5rem;
  }
  
  .form-container {
    max-width: 43.75rem;
    width: 100%;
    margin: auto;
    position: relative;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact textarea,
  #contact button[type="submit"] {
    font-size: 1rem;
    font-family: "Avenir Light";
    color: white; 
    width: 100%;
    border: 0.063rem rgba(255,255,255,0.9);
    background: #A88F6A;
    margin: 0 0 1.5rem;
    padding: 1rem;
    box-shadow: 0rem 0.125rem 0.625rem 0.063rem rgba(0,0,0,0.20);
  }
  
  #contact {
    background-color: rgba(255,255,255,0.1);
    padding: 4rem 1.5rem;
    margin: 0rem;
    box-shadow: 0rem 0.125rem 0.625rem 0.063rem rgba(0,0,0,0.45);
  }
  
  fieldset {
    max-width: 90%;
    margin: auto;
  }

  #contact textarea {
      padding-bottom: 6rem;
      background: #A88F6A;
  }
  
  #contact button[type="submit"] {
    font-family: "navi";
    width: 100%;
    border: none;
    background: #A88F6A;
    color: #FFF;
    margin: 0 0 1rem;
    padding: 0.3rem;
    font-size: 2rem;
  }
  
  
  #contact button[type="submit"]:active {
    box-shadow: inset 0 0.063rem 0.188rem rgba(0, 0, 0, 0.5);
  }
  
  #contact input:focus,
  #contact textarea:focus {
    outline: 0;
    border: 0.02rem solid #fff;
  }
  
  ::-webkit-input-placeholder {
    color: #fff;
  }
  
  :-moz-placeholder {
    color: #fff;
  }
  
  ::-moz-placeholder {
    color: #fff;
  }
  
  :-ms-input-placeholder {
    color: #fff;
  }

  .footer {
    text-align: center;
    letter-spacing: 0.03rem;
    font-size: 1.1rem;
  }

